@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');

body{
  background-color: #293241 !important ;
}

.row{
  border: 6px double #C2C1A5;
  margin-top: 150px !important;
  border-radius: 30px ;
  padding-bottom: 15px;
}
#quote-box {
  height : 250px;
  background-color: #C2C1A5;
  border-radius: 30px 30px 10px 10px !important;
  color: #14213d !important;
}

#text{
  margin-top: 40px;
  text-align: center;
  font-family: 'STIX Two Math', serif;
}

#author{
  text-align: end;
  font-family: 'STIX Two Math', serif;
}

button{
  background-color: #293241 !important;
  width: 100%;
  margin: 5px !important;
  border: 3px solid #C2C1A5 !important;
  color: #C2C1A5 !important; 
  border-radius: 10px !important;
  font-family: 'STIX Two Math', serif !important;
  height: 3em;
}

button:hover{
  background-color: #C2C1A5 !important;
  color: #293241 !important;
}


a{ 
  text-decoration: none !important;
  color: #C2C1A5 !important;
  font-family: 'STIX Two Math', serif !important;
}

a:hover{
  color: #293241 !important;
}


@media (max-width : 350px ) and (max-height : 700px) {
  .row{
    margin-top: 1px !important;
    height: 100vh;
    border-radius: 30px 0px !important;
  }
  #quote-box{
    border-radius: 30px 0px !important;
    height: 80vh;
  }
}

@media (max-width : 400px ) and (min-height : 480px) and (max-height : 600px){
  .row{
    margin-top: 1px !important;
    height: 100vh;
  }
  #quote-box{
    height: 70vh !important;
  }
}



